:host {
  display: inline;
}

.word {
  white-space: nowrap;
}

.character {
  position: relative;
  display: inline-block;
  white-space: pre;
}

.original {
  visibility: hidden;
}

.glyph {
  position: absolute;
  inset: 0;
  text-align: center;
}

.accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
